
.ptitle{
    position: absolute;
    margin: 0px;
    top: 10px;
    width: 240px;
    overflow: hidden;
    color: #76a797;
}

.title_end{
    position: absolute;
    font-size: 22px;
    bottom: 10px;
    color: #777;
    font-size: 16px;
}

.window_title{
    position: absolute;
    top: 0px;
    height: 40px;
    line-height: 40px;
    width: 80%;
    margin-left: 10%;
    color: #777;
    font-size: 24px;
    text-align: center;
    border-bottom: #b7b7b7 1px solid;
}

.x_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 50px;
    cursor: pointer;
    font-size: 18px;
    color: #777;
    border: none;
    background-color: #fff;
    transition: 0.3s;
}
.x_btn:hover{
    background-color: #d74242;
    color: #fff;
    transition: 0.3s;
}

.small_btn{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 70px;
    height: 30px;
    color: #777;
    font-size: 14px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: #76a797 1px solid;
    transition: 0.3s;
}
.small_btn:hover{
    background-color: #76a797;
    color: #fff;
    transition: 0.3s;
}

.mid_btn{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 140px;
    height: 30px;
    color: #777;
    font-size: 14px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: #76a797 1px solid;
    transition: 0.3s;
}
.mid_btn:hover{
    background-color: #76a797;
    color: #fff;
    transition: 0.3s;
}

.long_btn{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 220px;
    height: 30px;
    color: #777;
    font-size: 14px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: #76a797 1px solid;
    transition: 0.3s;
}
.long_btn:hover{
    background-color: #76a797;
    color: #fff;
    transition: 0.3s;
}

.full95_btn{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 95%;
    height: 30px;
    color: #777;
    font-size: 14px;
    user-select: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: #76a797 1px solid;
    transition: 0.3s;
}
.full95_btn:hover{
    background-color: #76a797;
    color: #fff;
    transition: 0.3s;
}



.circle_find{
    margin-left: 15px;
    padding: 0px;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    color: #fff;
    background-color: #76a797;
    cursor: pointer;
    border: #fff 1px solid;
    border-radius: 16px;
    transition: 0.4s;
}
.circle_find:hover{
    outline: #92ffdb8d 4px solid;
    border: #76a797 1px solid;
    color: #76a797;
    background-color: #fff;
    transition: 0.4s;
}
