*{
    margin: 0px;
    padding: 0px;
}
body{position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: #fff; font-family: "Microsoft YaHei", Arial;}



/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
-------------------------------------------------------------------------------------------------menu */
#menu{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 10px;
    border-left: #555 5px solid;
    background-color: #76a797;
    transition: 0.4s;
    z-index: 100;
    overflow: hidden;
    user-select: none;
}
#menu:hover{
    width: 200px;
    transition: 0.4s;
}
#menu details{
    position: relative;
    margin-top: 15px;
    opacity: 0;
    background-color: #76a797;
    color: #fff;
    transition: 0.6s;
}
#menu summary{
    display: block;
    padding-left: 25px;
    width: 100%;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.4s;
    list-style-type: none;
    white-space: nowrap;
}
#menu i{
    position: absolute;
    line-height: 50px;
    left: 5px;
}
#menu:hover details{
    opacity: 1;
    transition: 0.6s;
}

#menu summary:hover{
    background-color: #669082;
    transition: 0.4s;
}
.menu_index{
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s;
    white-space: nowrap;
    border-bottom: #fff 1px dashed;
}
.menu_index::after{
    position: absolute;
    content: '>>';
    right: 50px;
    opacity: 0;
    font-size: 14px;
    transition: 0.4s;
}
.menu_index:hover{
    background-color: #669082;
    font-size: 16px;
    transition: 0.4s;
}
.menu_index:hover::after{
    right: 15px;
    opacity: 1;
    transition: 0.4s;
}
/* ----------------------------------------------------------------------------------------------------- */






/* $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $
-------------------------------------------------------------------------------------------------show */
#show{
    position: absolute;
    left: 60px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
#show #hspage{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
/* ----------------------------------------------------------------------------------------------------- */
